<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/reset.css">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <section class="wrapper">
    <header>
      Foob Pizza
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pizza-orders"> Pizza Orders</a></li>
        <li><a href="/pizza-orders/new">New Order</a></li>
      </ul>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer>
      &copy 2018
    </footer>
  </section>
</body>
</html>
